<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.restful.repository.BookMapper">
    <select id="findAllBooks" resultType="Book">
        select * from book
    </select>
    <select id="findBookById" resultType="Book">
        select * from book where i = #{id}
    </select>
    <select id="searchBooks" resultType="Book">
        select * from book
        <where>
            <if test="name!=null and name!=''">
                and name like '%' #{name} '%'
            </if>
            <if test="category!=null and category!=''">
                and category =#{category}
            </if>
            <if test="author !=null and author!=''">
                and author=#{author}
            </if>
        </where>
    </select>
    <insert id="addBook" useGeneratedKeys="true" keyProperty="id">
        insert into book values(null, #{name}, #{price}, #{category}, #{pnum}, #{imgurl}, #{description}, #{author}, #{sales})
    </insert>
    <update id="updaeBook" parameterType="Book">
        update book set
        name=#{name},price=#{price}, category=#{category},
        pnum=${pnum},imgurl=#{imgurl}, description=#{description},
        author=#{author},sales=#{sales}
        where id=#{id}
    </update>
    <delete id="deleteBook">
        delete from book where id = #{id}
    </delete>
    <delete id="deleteBooks">
        delete from book where id in
        <foreach collection="array" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
</mapper>