<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>班级列表</h1>
<div th:each="classes:${classesList}">

    <table border="1" align="center">
        <tr>
            <td>班级编号</td>
            <td th:text="${classes.id}"></td>
        </tr>
        <tr>
            <td>班级名称</td>
            <td th:text="${classes.classname}"></td>
        </tr>
        <tr>
            <td>班级地址</td>
            <td th:text="${classes.address}"></td>
        </tr>
        <tr>
            <td>该班学生</td>
            <td>
                <table align="center">
                    <tr>
                        <td>学号</td>
                        <td>姓名</td>
                        <td>性别</td>
                        <td>年龄</td>
                    </tr>
                    <tr th:each="student:${classes.students}">
                        <td th:text="${student.id}"></td>
                        <td th:text="${student.studentname}"></td>
                        <td th:text="${student.gender}"></td>
                        <td th:text="${student.age}"></td>

                    </tr>

                </table>

            </td>
        </tr>

    </table>
    <br/>
</div>
</body>
</html>