<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>学生详情</h1>
<table border="1" align="center">
    <tr><td>学号</td><td th:text="${student.id}"></td></tr>
    <tr><td>姓名</td><td th:text="${student.studentname}"></td></tr>
    <tr><td>性别</td><td th:text="${student.gender}"></td></tr>
    <tr><td>年龄</td><td th:text="${student.age}"></td></tr>
    <tr><td>班级信息</td><td>
        <table>
            <tr>
                <td>班级编号</td><td th:text="${student.classes.id}"></td>
            </tr>
            <tr>
               <td>班级名称</td><td th:text="${student.classes.classname}"></td>
            </tr>
            <tr>
                <td>所在课室</td><td th:text="${student.classes.address}"></td>
            </tr>

        </table>

    </td></tr>


</table>

</body>
</html>