<!--
 * @Author: shulu
 * @Date: 2024-08-27 22:31:47
 * @LastEditors: shulu
 * @LastEditTime: 2024-08-28 21:38:06
 * @Description: file content
 * @FilePath: \restful\src\main\resources\templates\stus.html
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>学生信息列表</title>
    </head>
    <body>
        <a th:href="@{/addStudent}">添加学生</a>
        <table border="1" align="center">
            <tr>
                <td>学号</td>
                <td>姓名</td>
                <td>性别</td>
                <td>年龄</td>
                <!-- <td>班级</td>-->
                <td>修改</td>
                <td>删除</td>
            </tr>
            <tr th:each="stu:${stus}">
                <td th:text="${stu.id}"></td>
                <td th:text="${stu.studentname}"></td>
                <td th:text="${stu.gender}"></td>
                <td th:text="${stu.age}"></td>
                <!-- <td th:text="${stu.classno}"></td>-->
                <td><a th:href="@{/updateStudent/}+${stu.id}">修改</a></td>
                <td><a th:href="@{/deleteStudent/}+${stu.id}">删除</a></td>
            </tr>
        </table>
    </body>
</html>
